{{!< default}}

{{> 'headers/about'}}

<main class="about">
  <section class="instructor content">
    {{!--<div class="instructor-row">
      <div class="row align-spaced">
        <div class="instructor-card large-card">
          <div class="small-12 medium-3 large-2 columns">
            <div class="instructor-image-wrapper">
              <img class="instructor-image" src="{{asset "images/instructors/jolene-p.jpg"}}">
            </div>
            <div class="instructor-social">
              <a href="https://web.facebook.com/jolene.r.peters" target="_blank">
                <span class="fa-stack fa-lg facebook">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="https://www.instagram.com/studiojoypilates/" target="_blank">
                <span class="fa-stack fa-lg instagram">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="small-12 medium-9 large-10 columns">
            <h4 class="separator-left clearfix">Jolene Peters</h4>
            <p class="instructor-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eum, iusto vel repudiandae, quaerat soluta sequi officia.
            </p>
          </div>
        </div>
      </div>
    </div>--}}

    <div class="instructor-row">
      <div class="row align-spaced">
        <div class="small-12 medium-6 columns left-column instructor-card">
          <div class="row align-spaced">
          <div class="small-12 medium-12 large-4 columns">
            <div class="instructor-image-wrapper">
              <img class="instructor-image" src="{{asset "images/instructors/jolene-p.jpg"}}">
            </div>
              <div class="instructor-social">
                <a href="https://web.facebook.com/jolene.r.peters" target="_blank">
                  <span class="fa-stack fa-lg facebook">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a href="https://www.instagram.com/studiojoypilates/" target="_blank">
                  <span class="fa-stack fa-lg instagram">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
          </div>
          <div class="small-12 medium-12 large-8 columns">
            <h4 class="separator-left medium-center clearfix">Jolene Peters</h4>
            <p class="instructor-text">
              {{!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eum, iusto vel repudiandae, quaerat soluta sequi officia.--}}
            </p>
          </div>
          </div>
        </div>
        <div class="small-12 medium-6 columns right-column instructor-card">
          <div class="row align-spaced">
          <div class="small-12 medium-12 large-4 columns">
            <div class="instructor-image-wrapper">
              <img class="instructor-image" src="{{asset "images/instructors/jolene-m.jpg"}}">
            </div>
              <div class="instructor-social">
                <a href="https://web.facebook.com/jolene.mckiernan" target="_blank">
                  <span class="fa-stack fa-lg facebook">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a href="https://www.instagram.com/studiojoypilates/" target="_blank">
                  <span class="fa-stack fa-lg instagram">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
          </div>
          <div class="small-12 medium-12 large-8 columns">
            <h4 class="separator-left medium-center clearfix">Jolene Mckiernan</h4>
            <p class="instructor-text">
              {{!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eum, iusto vel repudiandae, quaerat soluta sequi officia.--}}
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="instructor-row">
      <div class="row align-spaced">
        <div class="small-12 medium-6 columns left-column instructor-card">
          <div class="row align-spaced">
          <div class="small-12 medium-12 large-4 columns">
            <div class="instructor-image-wrapper">
              <img class="instructor-image" src="{{asset "images/instructors/instructor-1.jpg"}}">
            </div>
              <div class="instructor-social">
                <a href="https://web.facebook.com/devon.fasani" target="_blank">
                  <span class="fa-stack fa-lg facebook">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a href="https://www.instagram.com/devonfasani/" target="_blank">
                  <span class="fa-stack fa-lg instagram">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
          </div>
          <div class="small-12 medium-12 large-8 columns">
            <h4 class="separator-left medium-center clearfix">Devon Fasani</h4>
            <p class="instructor-text">
              {{!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eum, iusto vel repudiandae, quaerat soluta sequi officia.--}}
            </p>
          </div>
          </div>
        </div>
        <div class="small-12 medium-6 columns right-column instructor-card">
          <div class="row align-spaced">
          <div class="small-12 medium-12 large-4 columns">
            <div class="instructor-image-wrapper">
              <img class="instructor-image" src="{{asset "images/instructors/instructor-2.jpg"}}">
            </div>
              <div class="instructor-social">
                <a href="https://web.facebook.com/rose.wilson.526875" target="_blank">
                  <span class="fa-stack fa-lg facebook">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a href="https://www.instagram.com/rosewil/" target="_blank">
                  <span class="fa-stack fa-lg instagram">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
          </div>
          <div class="small-12 medium-12 large-8 columns">
            <h4 class="separator-left medium-center clearfix">Rose Wilson</h4>
            <p class="instructor-text">
              {{!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eum, iusto vel repudiandae, quaerat soluta sequi officia.--}}
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="instructor-row">
      <div class="row align-spaced">
        <div class="small-12 medium-6 columns left-column instructor-card">
          <div class="row align-spaced">
          <div class="small-12 medium-12 large-4 columns">
            <div class="instructor-image-wrapper">
              <img class="instructor-image" src="{{asset "images/instructors/instructor-3.jpg"}}">
            </div>
              <div class="instructor-social">
                <a href="https://web.facebook.com/heather.brown.967" target="_blank">
                  <span class="fa-stack fa-lg facebook">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a href="https://www.instagram.com/heatherbrown101/" target="_blank">
                  <span class="fa-stack fa-lg instagram">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
          </div>
          <div class="small-12 medium-12 large-8 columns">
            <h4 class="separator-left medium-center clearfix">Heather Brown</h4>
            <p class="instructor-text">
              {{!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eum, iusto vel repudiandae, quaerat soluta sequi officia.--}}
            </p>
          </div>
          </div>
        </div>
        <div class="small-12 medium-6 columns right-column instructor-card">
          <div class="row align-spaced">
          <div class="small-12 medium-12 large-4 columns">
            <div class="instructor-image-wrapper">
              <img class="instructor-image" src="{{asset "images/instructors/monica-a.jpg"}}">
            </div>
              <div class="instructor-social">
                <a href="https://web.facebook.com/monica.p.abrew" target="_blank">
                  <span class="fa-stack fa-lg facebook">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a href="https://www.instagram.com/monica_abrew/" target="_blank">
                  <span class="fa-stack fa-lg instagram">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
          </div>
          <div class="small-12 medium-12 large-8 columns">
            <h4 class="separator-left medium-center clearfix">Monica Abrew</h4>
            <p class="instructor-text">
              {{!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eum, iusto vel repudiandae, quaerat soluta sequi officia.--}}
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="row row__map">
    <div class="small-12 medium-12 large-12">
      <h2 class="about__location-title">Visit, Enquire, See</h2>
      <p class="about__location-info">410 West Main Street, Ripon, CA 95366</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.180228059743!2d-121.1274150779951!3d37.73891584557951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809044552387ec5b%3A0x331f5c07f5f21b23!2s410+W+Main+St+b%2C+Ripon%2C+CA+95366%2C+USA!5e0!3m2!1sen!2shr!4v1496855023108" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </section>
</main>